## The following requirements were added by pip freeze:
-e git+https://github.com/gchang12/krita_ref_parser.git@0f7af41022a58cb5f0a807d3f84f3c5f3f836041#egg=krita_ref_generator
-e git+https://github.com/gchang12/krita_ref_parser.git@0f7af41022a58cb5f0a807d3f84f3c5f3f836041#egg=krita_ref_parser
